<h1 class="cocktail"><%= @cocktail.name.titleize %></h1>
<%= image_tag @cocktail.picture %>
<p>Ingredients:</p>
<ul class="show">
<% @cocktail.doses.each do |d| %>
<li><%= d.ingredient.name %> (<%= d.description %>) <%= link_to 'Delete', dose_path(d), method: :delete %></li>
<% end %>
</ul>

<p><%= link_to 'Edit this cocktail name', edit_cocktail_path %></p>
<p><%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to 'Delete this cocktail', cocktail_path, method: :delete %></p>
<p><%= link_to 'Go back to cocktails', cocktails_path %></p>
